.footer
  div.container
    div.outer
      div.inner
        div.centered
          .table
            .tr
              .td How It Works
              .td For Large&Complex Events
              .td Pricing
              .td Community Guideliness
              .td(a href="") How It Works
              .td(a href="") Conference Management Software
              .td How It Works
              .td For Large&Complex Events
              .td Pricing
              .td Community Guideliness
              .td(a href="") How It Works
              .td(a href="") Conference Management Software  
  .container All rights reserved. &copy; 2017 Lim Yeo Jin.