extends layout

block hero-unit
  div#carouselExampleSlidesOnly.carousel-slide( data-ride="carousel")
    div.carousel-inner
      div.carousel-item-active
        img.d-block-w-100(src="..." alt="First slide")
      div.carousel-item
        img.d-block-w-100(src="..." alt="Second slide")
      div.carousel-item
        img.d-block-w-100(src="..." alt="Third slide")
block content
  .container
    .form
      .row
        div.col-4
          div.event Events for you in,
        div.col-6
          input.form-control-form-control-sm(type="text" placeholder="Seoul, Republic of Korea")
      .row
        .col-4 
          div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .col-4 
          div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .col-4 
          div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              div.card(style="width: 20rem;")
            img.card-img-top(src="..." alt="Card image cap")
            div.card-body
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    div.ca
      button(type="button" class="btn btn-outline-primary") See More
    h3 Browse by Top Categories  